/* css reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end css reset */

/* typography */
html {font-size: 100%;} /*16px*/

body {
  background: rgb(228, 223, 223);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}
/* end typography */

/* global styles */
.d-flex{
  display: flex;
}
.x-c{
  justify-content: center;
}
.y-c{
  align-items: center;
}
#btn{
  border: 2px solid rgb(82, 82, 82);
  border-radius: 2em;
  padding: 1em 2em;
  background-color: #f2eeee;
  box-shadow: 5px 5px 8px rgb(175, 175, 180);

}
/* end global styles */

/* main styles  */
header{
  flex-direction: column;
}
header h1{
  font-weight: 900;
  font-size: 100px;
  text-transform: uppercase;
  color: rgb(36, 199, 199);
}
#txtbox{
  width: 500px;
  border: 2px solid rgb(82, 82, 82);
  border-radius: 2em;
  padding: 1em 2em;
  box-shadow: 5px 5px 8px rgb(175, 175, 180);
  margin-bottom: 20px;
  background-color: #f2eeee;
}
::placeholder{
  color: #ccc;
  font-weight: 500;
  font-size: 20px;
}
ul {
  width: 700px;
  background-color: rgb(161, 161, 161);
}
/* end main styles */